<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" href="public/stylesheets/main.css" />

</head>

<body>
  <!-- begin block lorem -->
  <div class='lorem'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque voluptate ratione aspernatur quam id provident.
    Mollitia dicta sapiente est, velit quo voluptatem ad totam nisi quidem voluptatum rem autem. </div>
  <!-- end block lorem -->
  {{{body}}}

</body>

</html>